In [7]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score, KFold, StratifiedKFold
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline

 Load the dataset into python environment

In [16]:
data = pd.read_csv(r'C:\Users\LENOVO\Downloads\titanic_dataset.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. Pre-processing steps
Drop unnecessary columns

In [17]:
data.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

Handle missing values

In [18]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [19]:
imputer = SimpleImputer(strategy='median')
data['Age'] = imputer.fit_transform(data[['Age']])
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [21]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

 Encode categorical variables

In [20]:
label_encoder = LabelEncoder()
data['Sex'] = label_encoder.fit_transform(data['Sex'])
data['Embarked'] = label_encoder.fit_transform(data['Embarked'])

Prepare features and target

In [22]:
scaler = StandardScaler()
data[['Age', 'Fare']] = scaler.fit_transform(data[['Age', 'Fare']])
X = data.drop('Survived', axis=1)
y = data['Survived']

3. Create kNN and SVM models

In [24]:
knn_model = KNeighborsClassifier()
svm_model = SVC()

4. Cross-validation techniques

 k-fold cross-validation

In [25]:
k_fold_scores_knn = cross_val_score(knn_model, X, y, cv=KFold(n_splits=5, shuffle=True, random_state=42))
k_fold_scores_svm = cross_val_score(svm_model, X, y, cv=KFold(n_splits=5, shuffle=True, random_state=42))

Stratified k-fold cross-validation

In [26]:
stratified_k_fold_scores_knn = cross_val_score(knn_model, X, y, cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42))
stratified_k_fold_scores_svm = cross_val_score(svm_model, X, y, cv=StratifiedKFold(n_splits=5, shuffle=True, random_state=42))

Calculate average accuracy scores

In [27]:
average_accuracy_knn = (k_fold_scores_knn.mean() + stratified_k_fold_scores_knn.mean()) / 2
average_accuracy_svm = (k_fold_scores_svm.mean() + stratified_k_fold_scores_svm.mean()) / 2

print("Average Accuracy (kNN):", average_accuracy_knn)
print("Average Accuracy (SVM):", average_accuracy_svm)

Average Accuracy (kNN): 0.5796874019207834
Average Accuracy (SVM): 0.6161791475739125